$main_color: hsl(203, 89%, 53%);
$landing_bg: hsl(38, 50%, 97%);
$text_black: hsl(0, 0%, 0%);
$text_gray: hsl(0, 0%, 45%);
$text_green: hsl(196, 66%, 36%);
$text_white: hsl(0, 0%, 100%);
$custmers_bg: hsl(180, 60%, 90%);
$c_orange: hsl(38, 100%, 52%);
$orange_bg: hsl(38, 50%, 97%);
